{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
        <div class="alert alert-success container" style="margin-top: 100px;" role="alert">Thank you, {{ user.username }}. Registration finished,
            now you can fill your <a href="/profile/{{ user.id }}">profile</a> or visit <a href="/">chat</a>
        </div>
{% endblock content %}
